[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_5A0040000651313031393839-if00

[mcu ebb36]
canbus_uuid: eb65417a5523

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 4000
max_z_velocity: 25
max_z_accel: 200
square_corner_velocity: 5.0

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]
[adxl345]
cs_pin: ebb36: PB12
spi_software_sclk_pin: ebb36: PB10
spi_software_mosi_pin: ebb36: PB11
spi_software_miso_pin: ebb36: PB2
axes_map: x,y,z # To ustawimy dokładnie później przy kalibracji 
[resonance_tester]
accel_chip: adxl345
probe_points:
    200, 200, 20  # Środek Twojego stołu (ustaw pod swój wymiar!)


    
[force_move]
enable_force_move: True

[stepper_x]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16

# endstop_pin: ^!PG6             # Dodałem ! przed PG6
endstop_pin: ^!ebb36:PB3 
position_endstop: 0
position_max: 399
homing_speed: 80        # Pierwszy dojazd może być szybki
homing_retract_dist: 5  # Odjedź 5mm...
homing_retract_speed: 10 # ...i wróć bardzo powoli, żeby precyzyjnie "kliknąć"
second_homing_speed: 5  # To zapewnia idealną powtarzalność punktu 0

[stepper_y]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
endstop_pin: ^!PG9             # Dodałem ! przed PG9
position_endstop: 0
position_max: 399
homing_speed: 80        # Pierwszy dojazd może być szybki
homing_retract_dist: 5  # Odjedź 5mm...
homing_retract_speed: 10 # ...i wróć bardzo powoli, żeby precyzyjnie "kliknąć"
second_homing_speed: 5  # To zapewnia idealną powtarzalność punktu 0

[bltouch]
sensor_pin: ^ebb36:PB8       # Zmieniliśmy z PB8 na PB6
control_pin: ebb36:PB9
x_offset: -36
y_offset: -4
z_offset: 1.800
#z_offset: 0
speed: 5.0
samples: 2                   # Zwiększamy do 2 dla stabilności
sample_retract_dist: 3.0
samples_result: median        # Używa środkowej wartości zamiast średniej
samples_tolerance_retries: 3
pin_move_time: 0.5
pin_up_touch_mode_reports_triggered: False
probe_with_touch_mode: false
stow_on_each_sample: true
pin_up_reports_not_triggered: True
lift_speed:20



[safe_z_home]
home_xy_position: 200, 200  # Wpisz środek swojego stołu!
speed: 50
z_hop: 10
z_hop_speed: 5


# PIERWSZY SILNIK Z (Motor 2)
[stepper_z]
step_pin: PG4
dir_pin: !PC1       # Dodaj ! jeśli kręci się odwrotnie niż pierwszy
enable_pin: !PA0
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 399
position_min: -2



# DRUGI SILNIK Z (Motor 3)
[stepper_z1]
step_pin: PF11
dir_pin: !PG3       # Dodaj ! jeśli jedzie w dół zamiast w górę
enable_pin: !PG5

rotation_distance: 8
microsteps: 16

[z_tilt]
z_positions:
    -90, 200           # Fizyczna pozycja lewej śruby (X, Y)
    490, 200           # Fizyczna pozycja prawej śruby (X, Y)
points:
    76, 200
    386, 200
speed: 250             # Prędkość przejazdów między punktami
horizontal_move_z: 5  # Na jaką wysokość podnieść oś Z przed przejazdem
retries: 10            # Ile prób wyrównania dopuszczamy
retry_tolerance: 0.02  # Dokładność (0.02mm jest bardzo ok dla tak dużego stołu)


[heater_fan hotend_fan]
pin: ebb36:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder      # Powiązanie z sekcją [extruder]
heater_temp: 50.0      # Temperatura włączenia
fan_speed: 1.0         # Prędkość (1.0 = 100%)

[fan]
pin:  ebb36:PA1
max_power: 1.0


[extruder]
# SILNIK (Driver 4 Octopus)
step_pin: PF9
dir_pin: !PF10           # Jeśli będzie wciągał zamiast pchać, zmień na !PF10
enable_pin: !PG2
microsteps: 16
# rotation_distance: 33.500  # Startowa dla MK8 (Tronxy 1.8 deg)
# rotation_distance: 22.67   # Wartość dla samej zębatki
rotation_distance: 23.25   # Wartość dla samej zębatki
gear_ratio: 50:17          # Przełożenie 3:1 (dokładnie 50 zębów do 17)
nozzle_diameter: 0.400
filament_diameter: 1.750
control: pid
min_temp: 0
max_temp: 280             # 300 to dużo dla MK8 z rurką teflonową w środku!
min_extrude_temp: 170     # Zapobiega kręceniu silnikiem na zimno   -> 170
# GRZAŁKA I CZUJNIK (Wpięte do EBB36)
heater_pin: ebb36:PB13      # Grzałka na CAN
sensor_pin: ebb36:PA3       # To Twoje TH0 na CAN
sensor_type: ATC Semitec 104GT-2 # Sprawdź typ swojego termistora!
max_extrude_only_distance: 300
max_extrude_cross_section: 5.0
pid_kp:25.829
pid_ki:1.459
pid_kd:114.296


[tmc2209 extruder]
uart_pin: PF2             # Pin UART dla Motor 4 w Octopusie
run_current: 1        # Bezpieczny prąd dla silnika Tronxy
stealthchop_threshold: 0  # Ekstruder lepiej działa w trybie SpreadCycle (0)

[respond]
[display_status]
[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
control: watermark
# min_temp: -100
# max_temp: 120
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PF3
min_temp: -273
max_temp: 9999


[verify_heater extruder]
max_error: 120

[verify_heater heater_bed]
max_error: 120

# =========================
# TMC2209 UART
# =========================

[tmc2209 stepper_x]
uart_pin: PC4
# run_current: 1.25
# hold_current: 0.85
run_current: 1
hold_current: 0.5
stealthchop_threshold: 0
interpolate: True

[tmc2209 stepper_y]
uart_pin: PD11
# run_current: 1.25
# hold_current: 0.85
run_current: 1
hold_current: 0.5
stealthchop_threshold: 0
interpolate: True

[tmc2209 stepper_z]
uart_pin: PC6
run_current: 0.800
hold_current: 0.5

[tmc2209 stepper_z1]
uart_pin: PC7
run_current: 0.800
hold_current: 0.5

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 40, 40       # Minimalne współrzędne SONDY (nie dyszy!)
mesh_max: 360, 360     # Maksymalne współrzędne SONDY
probe_count: 5, 5      # Siatka 5x5 (25 punktów pomiaru)
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
adaptive_margin: 5


[autotune_tmc stepper_x]
motor: ldo-42sth40-1684ac
tuning_goal: silent

[autotune_tmc stepper_y]
motor: ldo-42sth40-1684ac
tuning_goal: silent

[autotune_tmc stepper_z]
motor: ldo-42sth40-1684ac
tuning_goal: silent

[autotune_tmc stepper_z1]
motor: ldo-42sth40-1684ac
tuning_goal: silent

[autotune_tmc extruder]
motor: ldo-42sth40-1684ac
tuning_goal: performance

[exclude_object]
[verify_heater heater_bed]
max_error: 120
check_gain_time: 120    # Dajemy mu 2 minuty na reakcję (stół 400mm jest wolny)
hysteresis: 5
heating_gain: 1



[screws_tilt_adjust]
# Poniższe punkty to współrzędne DYSZY. 
# Musisz je wyliczyć: pozycja śruby minus offset Twojego BLTouch.
screw1: 55, 29          # Punkt bazowy (lewy przód) - zazwyczaj ta śruba zostaje nieruchoma
screw1_name: lewy_przod
screw2: 399, 29
screw2_name: prawy_przod
screw3: 399, 382
screw3_name: prawy_tyl
screw4: 55, 382
screw4_name: lewy_tyl
horizontal_move_z: 10
speed: 150
screw_thread: CW-M3       # Tronxy zazwyczaj ma śruby M3. Jeśli masz większe, wpisz M4 lub M5.




[save_variables]
filename: ~/printer_data/config/variables.cfg # tam będą zapisane Twoje ustawienia
#############################################################################################################
#######################  MAKRO !! 
[gcode_macro PRINT_START]
gcode:
    # Pobranie parametrów z Slicera
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}
    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}

    # Pobranie Twoich ustawień z makra KONFIG_DRUKU
    {% set do_mesh = printer["gcode_macro KONFIG_DRUKU"].mesh_enabled %}
    {% set petg_off = printer["gcode_macro KONFIG_DRUKU"].petg_offset %}
    {% set density = printer["gcode_macro KONFIG_DRUKU"].mesh_density %}

    M140 S{BED_TEMP}
    M104 S150
    G28 

    # --- LOGIKA MESH ---
    {% if do_mesh %}
        {action_respond_info("Adaptive Mesh ON (Gęstość: %s)" % density)}
        BED_MESH_CALIBRATE ADAPTIVE=1 PROBE_COUNT={density},{density}
    {% else %}
        {action_respond_info("Mesh OFF - ładuję profil default")}
        BED_MESH_PROFILE LOAD=default
    {% endif %}

    # --- LOGIKA OFFSETU ---
    {% if MATERIAL == "PETG" or MATERIAL == "PET" %}
        SET_GCODE_OFFSET Z={petg_off}
        {action_respond_info("Material: %s -> Offset +%s" % (MATERIAL, petg_off))}
    {% else %}
        SET_GCODE_OFFSET Z=0
        {action_respond_info("Material: %s -> Reset Offsetu" % MATERIAL)}
    {% endif %}

    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
    M117 Drukowanie...



[gcode_macro KONFIG_DRUKU]
variable_mesh_enabled: True
variable_petg_offset: 0.08
variable_mesh_density: 5
gcode:
    {action_respond_info("Ustawienia: Mesh=%s, PETG_Offset=%s, Gęstość=%s" % (printer["gcode_macro KONFIG_DRUKU"].mesh_enabled, printer["gcode_macro KONFIG_DRUKU"].petg_offset, printer["gcode_macro KONFIG_DRUKU"].mesh_density))}

[gcode_macro USTAW_MESH]
gcode:
    {% set stan = params.STAN|default('True')|lower == 'true' %}
    SET_GCODE_VARIABLE MACRO=KONFIG_DRUKU VARIABLE=mesh_enabled VALUE={stan}
    {action_respond_info("Mesh ustawiony na: %s" % stan)}

[gcode_macro USTAW_OFFSET_PETG]
gcode:
    {% set offset = params.WARTOSC|default(0.08)|float %}
    SET_GCODE_VARIABLE MACRO=KONFIG_DRUKU VARIABLE=petg_offset VALUE={offset}
    {action_respond_info("Nowy offset PETG: %s" % offset)}

[gcode_macro USTAW_GESTOSC_MESH]
gcode:
    {% set n = params.N|default(5)|int %}
    SET_GCODE_VARIABLE MACRO=KONFIG_DRUKU VARIABLE=mesh_density VALUE={n}
    {action_respond_info("Gęstość Adaptive Mesh: %s x %s" % (n, n))}




    
# [gcode_macro PRIME_LINE]
# description: Rysuje linie czyszczaca na prawym dole stolu
# gcode:
#    {% if "xyz" not in printer.toolhead.homed_axes %}
#         G28 ; Bazuj jesli nie bylo bazowane
#     {% endif %}
    
#     SAVE_GCODE_STATE NAME=prime_line_state
#     M117 Potrojne czyszczenie...
#     RESPOND MSG="Rysowanie 3 linii czyszczących..."
    
#     G90                            ; Wspolrzedne absolutne
#     G92 E0                         ; Reset ekstrudera
#     G1 Z2.0 F3000                  ; Podnies dysze
    
#     # --- LINIA 1 (w prawo) ---
#     G1 X300 Y30 Z0.3 F5000.0       ; Start
#     G1 X380 Y30 Z0.3 F1500.0 E15   ; Rysuj do X380
    
#     # --- LINIA 2 (w lewo) ---
#     G1 X380 Y30.6 Z0.3 F5000.0     ; Przeskok o 0.6mm w gore Y
#     G1 X300 Y30.6 Z0.3 F1500.0 E30 ; Powrot do X300
    
#     # --- LINIA 3 (w prawo) ---
#     G1 X300 Y31.2 Z0.3 F5000.0     ; Kolejny przeskok o 0.6mm w gore Y
#     G1 X380 Y31.2 Z0.3 F1500.0 E45 ; Trzecia linia do X380
    
#     G92 E0
#     G1 E-2.0 F2400                ; Wycofaj 2mm filamentu
#     G1 Z5.0 F3000                 ; Szybko podnieś dyszę
#     G92 E0
#     RESTORE_GCODE_STATE NAME=prime_line_state
#     M117 Gotowy

    
[gcode_macro PRINT_END]
gcode:
    # Retrakcja końcowa
    G91                           ; Tryb relatywny
    G1 E-5.0 F1800                ; Mocna retrakcja 5mm, żeby nie ciekło
    G1 Z10 F3000                  ; Podnieś głowicę o 10mm w górę
    
    # Odjazd głowicy na bok
    G90                           ; Tryb absolutny
    G1 X10 Y380 F5000             ; Odjedź w bezpieczny róg (lewy tył)
    
    # Wyłączenie wszystkiego
    M104 S0                       ; Wyłącz dyszę
    M140 S0                       ; Wyłącz stół
    M106 S0                       ; Wyłącz wentylator
    M84                           ; Wyłącz silniki (opcjonalnie)
    
    SET_GCODE_OFFSET Z=0          ; ZAWSZE resetuj offset na koniec wydruku!
    M117 Wydruk zakonczony
    RESPOND MSG="Wydruk zakończony, offset zresetowany."

    
[gcode_macro CANCEL_PRINT]
description: Anulowanie wydruku
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
description: Pauza wydruku
rename_existing: BASE_PAUSE
gcode:
    ##### Parametry #####
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    {% set z_lift = 10.0 %}
    ##### Obliczenia #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - z_lift) %}
        {% set z_safe = z_lift %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### Akcja #####
    PAUSE_BASE
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000

[gcode_macro RESUME]
description: Wznowienie wydruku
rename_existing: BASE_RESUME
gcode:
    G91
    G1 E1 F2100 # Delikatna retrakcja/podanie filamentu przed startem
    G90
    RESUME_BASE


 


[delayed_gcode load_mesh_on_boot]
initial_duration: 2    ; Wykona się 2 sekundy po uruchomieniu Klippera
gcode:
    {% if printer.configfile.config["bed_mesh default"] is defined %}
        BED_MESH_PROFILE LOAD=default
        RESPOND MSG="Mapa Bed Mesh 'default' została wczytana automatycznie."
    {% else %}
        RESPOND MSG="Błąd: Brak zapisanej mapy o nazwie 'default'!"
    {% endif %}



[gcode_macro NOWY_MESH]
description: Wykonuje Bed Mesh z okreslona liczba punktow (np. NOWY_MESH P=5)
gcode:
    # 1. Pobranie parametru P (domyślnie 5, jeśli nie wpiszesz nic)
    {% set punkty = params.P|default(5)|int %}
    
    RESPOND MSG="Rozpoczynam kalibrację siatki {punkty}x{punkty}..."
    
    # 2. Bazowanie, jeśli nie zostało zrobione
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    
    # 3. Wywołanie kalibracji z Twoim parametrem
    # Używamy zmiennej punkty dla obu osi, żeby siatka była kwadratowa
   BED_MESH_CALIBRATE PROBE_COUNT={punkty},{punkty} METHOD=automatic PROFILE=default
   
    # 4. Zapisanie do profilu 'default' i restart (aby zapamiętać na stałe)
    RESPOND MSG="Kalibracja zakończona. Zapisuję profil 'default'..."
    SAVE_CONFIG
 



[gcode_macro MESH_10]
gcode:
    NOWY_MESH P=10

    

    
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.346250, 0.187500, 0.102500, 0.060000, 0.018750, -0.102500, -0.101250, -0.130000, -0.092500, 0.023750
#*# 	0.301250, 0.173750, 0.060000, 0.011250, -0.023750, -0.086250, -0.113750, -0.128750, 0.013750, 0.057500
#*# 	0.288750, 0.157500, 0.083750, -0.001250, -0.018750, -0.055000, -0.038750, -0.055000, 0.017500, 0.106250
#*# 	0.256250, 0.127500, 0.062500, 0.011250, -0.018750, -0.052500, -0.025000, -0.018750, 0.072500, 0.162500
#*# 	0.211250, 0.093750, 0.020000, -0.020000, -0.036250, -0.062500, -0.040000, -0.022500, 0.082500, 0.193750
#*# 	0.181250, 0.057500, 0.020000, -0.040000, -0.022500, -0.051250, -0.006250, 0.008750, 0.125000, 0.228750
#*# 	0.123750, 0.017500, -0.031250, -0.065000, -0.068750, -0.057500, -0.005000, 0.028750, 0.140000, 0.256250
#*# 	0.096250, 0.020000, -0.001250, -0.042500, -0.032500, -0.028750, 0.023750, 0.053750, 0.178750, 0.296250
#*# 	0.072500, 0.000000, -0.008750, -0.016250, -0.005000, -0.007500, 0.063750, 0.092500, 0.253750, 0.370000
#*# 	0.172500, 0.043750, 0.042500, 0.030000, 0.055000, 0.070000, 0.115000, 0.182500, 0.305000, 0.420000
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 359.95
#*# min_y = 40.0
#*# max_y = 359.95000000000005
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 114.2
